PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/dental-clinic

# Frontend URL (للـ CORS)
CLIENT_URL=http://localhost:5173

# JWT
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRES_IN=7d

# حساب الأدمن الأول (يُستعمل مرة واحدة فقط عبر npm run seed)
ADMIN_NAME=Dr. Admin
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=